body {
	margin: 0;
	font-family: Courier New;
	background-color: whitesmoke;
	-webkit-background-size: 100% 100%;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*menu layer*/
.border {
   border-style : groove;
   border-color : rgb(3,0,128);
   border-width : 50px;
   padding-top : 21;
}
.tulisan  {
	margin-top : 40;
	margin-right : 40;
	font-family : arial;
	font-size : 18px;
	padding-bottom: 20;
}

p  {
	font-family : arial;
	color : black;
	text-align : center;
	
}
/*Menu bar*/
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: hidden;
    background-color: #4793D6;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.topnav li {
	float: left;
}
/*menu about*/
ul.topnav li.right {
	float: right;
	display: block;
    color: whitesmoke;
	text-align: center;
	padding-right: 75px;
	text-decoration: none;
}
/*ukuran menu */
ul.topnav li a {
	display: block;
    color: whitesmoke;
	text-align: align;
	padding: 20px 25px;
	text-decoration: none;
}
/*warna bottom menu*/
ul.topnav li a:hover:not(.active) {
	background-color: whitesmoke;
	color: black;
}

ul.topnav li a.active {
	background-color: whitesmoke;
	color: black;
}


hr.isi {
	display: block;
	height: 0;
	border: 0;
	margin: 0;
	padding: 1px;
	background-image: -webkit-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	background-image: -moz-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	background-image: -ms-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	background-image: -o-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	width: 25%;
	left: 37.5%;
	position: relative;
	border: none;
}

hr.tentang {
	display: block;
	height: 0;
	border: 0;
	margin: 0;
	padding: 1px;
	background-image: -webkit-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	background-image: -moz-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	background-image: -ms-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	background-image: -o-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	width: 35%;
	left: 32.5%;
	position: relative;
	border: none;
}

hr.form {
	display: block;
	height: 0;
	border: 0;
	margin: 0;
	padding: 1px;
	background-image: -webkit-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	background-image: -moz-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	background-image: -ms-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	background-image: -o-linear-gradient(left, whitesmoke, #ccc, whitesmoke);
	width: 25%;
	left: 37.5%;
	position: relative;
	border: none;
}

h1 {
	margin-top: 80px;
	margin-bottom: 15px;
	font-size: 45px;
	font-weight: lighter;
	text-align: center;
	letter-spacing: 3px;
	color: red;
}
/*warna font h1,h2*/
img {
	border: groove;
	margin: 10px;
	height: 300px;
}

h2 {
	font-size: 25px;
	font-weight: lighter;
	text-align: center;
	letter-spacing: 3px;
	color: #27CCEC;
}

table.profil {
	margin-top: 10px;
	margin-left: 100px;
	height: 250px;
	font-size: 20px;
	font-weight: lighter;
	color: gray;
}
/*content lirik*/
table.lirik {
	border: dotted;
	margin-top: 30px;
	width: 50px;
	background-color: white;
	font-size: 17px;
	font-weight: lighter;
	text-align: center;
	color: black;
}

table.lirik:hover, table.lirik h1:hover {
	border: dashed;
	margin-top: 30px;
	padding-bottom: 50px;
	width: 50px;
	background-color: gray;
	font-size: 17px;
	font-weight: lighter;
	text-align: center;
	color: white;
}
/*tabel about*/
table.tentang {
	border: dashed;
	margin-top: 30px;
	padding: 10px;
	height: 250px;
	font-size: 20px;
	color: gray;
}

/*contak about*/
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* =====  Form ===== */

input[type=text], select, textarea {
	font-family: arial;
    width: 100%;
    padding: 12px;
    border: 1px solid silver;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
	color: gray;
	font-weight: bold;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: gray;
    color: whitesmoke;
    font-weight: bold;
    font-family: arial;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: whitesmoke;
    color: gray;
    font-weight: bold;
    font-family: arial;
}
/*layer*/
.container {
	margin-left: 300px;
    border-radius: 5px;
    padding-top: 50px;
}

.col-1 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-2 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

/*--*/

